<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT</title>
        <link rel ="stylesheet" href= "/css/style.css">
        <link rel ="icon" href="/img/weather.png">
    </head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="/img/cert.png">
    </div>

    {{>footer}}
</body>
</html>